* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contacto */

section {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(imagenes/fondohome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 30px;
}

.titulo h1 {
  font-size: 77px;
  margin-bottom: 50px;
}

.titulo h1 span {
  color: rgb(12, 101, 184);
}

.card {
  overflow: hidden;
}

/*  Cards  */

.loginBtn {
  padding: 9px 25px;
  background-color: rgb(240, 240, 240);
  color: rgb(12, 101, 184);
  border: 1px solid rgb(12, 101, 184);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.loginBtn:hover {
  background-color: rgb(12, 101, 184);
  color: #fff;
  border: 1px solid rgb(12, 101, 184);
}

span {
  color: rgb(12, 101, 184);
}

.mail {
  border-top: 1px solid rgb(12, 101, 184);
}

.mail i {
  color: rgb(12, 101, 184);
  font-size: 25px;
}

@media (max-width: 1317px) {
  .loginBtn {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .titulo h1 {
    font-size: 50px;
  }

  .nav-links {
    margin-bottom: 0.4rem;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .mapa {
    min-width: 100%;
  }

  .text {
    text-align: center;
    align-items: center;
  }

  .loginBtn {
    margin: 0;
    margin-right: 0 !important;
    margin-left: 20px;
  }
}

@media (max-width: 679px) {
  .mail {
    display: flex;
    justify-content: center !important;
  }

  .loginBtn {
    margin: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .titulo h1 {
    font-size: 50px;
  }
}
